.Menu{
	background:linear-gradient(white,#f9f3f2);
	height:80px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	box-shadow: 0.5px 0.5px 3px grey;
/*	border-bottom: 2px solid #c6af96;*/
	position: relative;
	zIndex:100000;
}

.Menu h2{
	padding:0px;
	margin:0px;
	color:grey;
}